.button {
    margin: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    border-color: rgb(197, 159, 113);
    cursor: pointer;
    height: 40px;
    background-color: rgb(197, 159, 113);
}

